<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Sprint_01.S6_46_Delete_Attachmen_Campaign"/>
      <class name="Sprint_01.S6_13CreateCasewithoutMandatoryFields"/>
      <class name="Sprint_01.S6_036_BoardExamSchedule"/>
      <class name="Sprint_01.S6_40"/>
      <class name="Sprint_01.S6_008_CreateWorkTypeGroup_Automation"/>
      <class name="Sprint_01.Oppertunity"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->